---
const riveUrl = 'https://rive.app/community/8999-17412-cat-simple-edit/embed';
---
<div class="rive-wrapper">
  <iframe
    src={riveUrl}
    title="Animated cat illustration"
    allowfullscreen
    loading="lazy"
    class="rive-iframe"
  ></iframe>
</div>

<style>
  .rive-wrapper {
    width: 100%;
    max-width: 480px;
    aspect-ratio: 1 / 1;
    border-radius: 16px;
    overflow: hidden;
  }
  .rive-iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
  }
</style>
